.intro {
  height: 90vh;
}


.project-background{
  background-color:rgba(255, 255, 255, 0.6);


}
.zindex{
  z-index: 10;
}
.zindex button {
  /* z-index: 100000 !important; */
  /* display: none; */
}

@media (width > 640px) {

}

@media (width <= 640px) {
 
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center;
  font-size: 18px; */
  /* background: #fff; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  background: linear-gradient(to right, rgb(148, 147, 144), rgb(92, 87, 81));
  color: white;
 
  /* text-align: center; */
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: 1px solid rgb(228, 219, 197);
  border-radius: 2em;
  transform: perspective(500px) rotateY(-15deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.box:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  left: -100%;
  transition: 0.5s;
}

.box:hover::before {
  left: 100%;
}

.cvbutton {
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
}