
  

  .swiper {
    /* width: 100%;
    height: 100%; */
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80% !important;
    width: 100%;
  }
  
  .mySwiper1 {
    height: 20% !important;
    box-sizing: border-box;
    padding: 10px 0;
   
  }
  
  .mySwiper1 .swiper-slide {
    width: 10%;
    height: 100%;
    opacity: 1;
    background-color:rgba(129, 127, 127, 0.4);
  }
  
  .mySwiper1 .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .view-background{
    background-color:rgba(129, 127, 127, 0.4);
  
  
  }